*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.first-page{
    width: 1280px;
    height: 908px;
    margin: 0 auto;
}

.main1{

    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

header{
    height: 60px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 204px;
    height: 60px;
    cursor: pointer;
   
    
}

#logo a{
    width: 204px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
   
}

.tittle{
    color: #F1CDB3;
    font-family:Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    
  
}

.subtittle{
    color: white;
    font-size: 13px;
    font-family: Arial;
    line-height: 15px;
    padding-left: 4px;
    padding-top: 10px;
}

.navbar{
    
    margin-top: 16px;

}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    color: #FAFAFA;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-right: 17.5px;
}

.navbar ul li a{
    list-style-type: none;
    display: inline-block;
    color: #FAFAFA;
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-decoration: none;
    text-align: center;
}

.ab-shelter{
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.our-pets:hover{
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.help:hover{
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.contacts:hover{
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.puppy{
    margin-top: 60px;
    display: block;
}


.first-main{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    width: 460px;
    height: 322px;
    margin-top: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 40px;
}

.heading{
    width: 310px;
    height: 114px;
    color: #FFFFFF;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
}

.subheading{
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    width: 460px;
    height: 72px;
}

.btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;
    color: #292929;
}

.btn a{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;
    color: #292929;
    text-decoration: none;
}

.main2{

    background-size: cover;
}
.second-page{
    width: 1280px;
    height: 588px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.about-shelter{
    height: 408px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.about-shelter h3{
    width: 370px;
    height: 90px;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about-shelter p{
    width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}




.our-Friends-block{
    background: #F6F6F6;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.third-page{
    width: 1280px;
    height: 877px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F6F6F6;
}

.our-friends-heading{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 60px 0;
  
    color: #545454;
}
.our-friends-heading h3,span{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.slider{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.card-wrap {
    display: flex;
    width: 200%;
    justify-content: space-around;
    transition: 1s;
}
.card {
    width: 270px;
    height: 435px;
    background: #F6F6F6;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.card:hover{
    background: #F1CDB3;
    transition: 1s ease-in-out;

}
.card img {
    width: 100%;
    transition: 1s ease-in-out;
}
.card img:hover{
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease-in-out;
}
.card p {
    color: #545454;
    text-align: center;
    margin: 30px 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
}
.learnMoreBox{
    display: flex;
    justify-content: center;
}
.learnMoreBtn{
    color: #292929;
    font-size: 17px;
    font-family: 'Georgia';
    font-style: normal;
    border: 3px solid #F1CDB3;
    letter-spacing: 0.06em;
    padding: 10px 15px;
    border-radius: 2rem;
    cursor: pointer;
    background: #FAFAFA;
    height: 52px;
    width: 187px;
}
.learnMoreBtn:hover{
    background-color: white ;
    color: #F1CDB3;
    
}

.leftArrow{
    margin-right: 25px;
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftArrow:hover{
    background-color: #F1CDB3;
}

.rightArrow{
    margin-right: 25px;
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #F6F6F6;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightArrow:hover{
    background-color: #F1CDB3;
}

#leftArrow{
    transform: translate(-590px,-300px);
}

#rightArrow{
    transform: translate(590px,-350px);
}

.btn2{
    width: 261px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transform: translateY(-65px);
}

.btn2 a:hover{
    color: white;
}

.btn2 a{
    text-decoration: none;
    width: 261px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}






.main4{
    background-color: #FFFFFF;
    background-size: cover
}

.fourth-page{
    width: 1280px;
    height: 611px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fourth-page h3{
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
}

.first-row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 35px;
    column-gap: 15px;
}

.scnd-row{
    text-align: center;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    transform: translate(130px,30px);
}
.scnd-row h4{
    margin-top: 25px;
}

.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

.vector{
    text-align: center;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.vector h4{
    margin-top: 25px;
}


.main5{
    background-size: cover;
    background-color: #F6F6F6;
}

.fiveth-page{
    width: 1280px;
    height: 462px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.donation{
    align-content: center;
    width: 380px;
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    margin-left: 15px;
}

.donation a {
    cursor: pointer;
}

.fiveth-page img{
    margin-right: 15px;
}
.donation h3{
    width: 300px;
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation h5{
    width: 308px;
    height: 17px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
}
.donation h6{
    width: 380px;
    height: 72px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

footer{
    background-size: cover;
    background-image: url(../../assets/images/footer-gradient-background.jpg);
}

.sixth-page{
    width: 1280px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
}

.questions{
    width: 302px ;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#email a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

#phone a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

#location1 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}
#location2 a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.questions h3{
    width: 280px;
    height: 90px;
    color: #FFFFFF;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.questions h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    width: 302px;
    height: 23px;
    margin-left: 20px;
}

#visits{
    transform: translateY(12px);
}

#footer-puppy{
    transform: translateY(20px);
}
.burger-menu{
    display: none;
}

@media (max-width: 768px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    



    .first-page{
        width: 768px;
        height: 1165px;
        margin: 0 auto;
    }
    
    .main1{
    
        background-image: url(../../assets/images/start-screen-gradient-background.png);
        background-size: cover;
    }
    
    header{
        width: 708px;
        height: 60px;
        margin-left: 30px;
        
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .tittle{
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;

    }
    .subtittle{
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
    }

    .navbar{
        
        display: flex;
        justify-content: space-around;
        transform: translateX(32px);
    }
    .navbar ul li {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-right: 32px;
    }

    .first-main{
        width: 569px;
        height: 1015px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .content{
        margin: 0;
        width: 460px;
        height: 322px;
        display: flex;
        transform: translate(46px, 30px);
    }
   

    .puppy{
        width: 569px;
        height: 593px;
        margin: 0;
        transform: translate(169px,30px);
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 45px;
        gap: 10px;
        transform: translateX(125px);
        letter-spacing: 1px;
    }

    
.main2{

    background-size: cover;
}
.second-page{
    width: 768px;
    height: 1048px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    
}
.second-page img{
    transform: translateY(-35px);
}


.about-shelter{
    width: 430px;
    height: 380px;
    transform: translateY(15px);
}

.our-Friends-block{
    background-size: cover;
}



.third-page{
    width: 768px;
    height: 877px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F6F6F6;
}


.card img{
    width: 270px;
    height: 270px;
    transform: translateY(3px);
}
.card p{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.06em;
}

.slider{
    width: 1085px;
}

.our-friends-heading{
    transform: translateY(-5px)
}

.card-wrap{
    transform: translate(-3px,-23px);
}
#katrine{
    transform:translateX(51px)
}
.leftArrow{
    transform: translate(-328px,-272px) !important;
}
.rightArrow{
    transform: translate(328px, -334px) !important;
}
.btn2{
    transform: translateY(-94px);
}

.main4{
    background-color: #FFFFFF;
    background-size: cover
}

.fourth-page{
    width: 768px;
    height: 779px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.helps{
    transform: translate(1px,1px);
}

.vector h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}
.vector{
    width: 170px;
}
.scnd-row h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
}

.first-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items:center;
    row-gap: 57px;
    column-gap: 60px;
    width: 630px;
    height: 449px;
    margin-left: 69px;
    margin-right: 69px;
    transform: translateY(-20px);
}
.scnd-row{
    transform: translate(0);
    width: 170px;
}

#medicine{
    transform: translateY(-4px);
}
#sleeping-area{
    transform: translateY(-4px);
}

.main5{
    background-size: cover;
    background-color: #F6F6F6;
}

.fiveth-page{
    width: 768px;
    height: 783px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.donation{
    transform: translate(-8px,-39px);
}

.donation a{
    transform: translate(-1px, 2px);
}
#doggo{
    transform: translate(7px,20px);
}

footer{
    background-size: cover;
    background-image: url(../../assets/images/footer-gradient-background.jpg);
}

.sixth-page{
    width: 768px;
    height: 639px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}
.questions{
    width: 278px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
#question1{
    transform: translate(12px,6px);
}
#email img{
    width: 45px;
    height: 31px;
    transform: translate(-4px,1px);
}
#email h4{
    transform: translate(-6px,1px);
}
#question2{
    transform: translate(-34px,7px);
}

#location1 img{
    width: 21px;
    height: 33px;
}
#location1{
    transform: translateY(-12px);
}
#location2 img{
    width: 21px;
    height: 33px;
}
#footer-puppy{
    transform: translate(192px,24px);
}



}


@media (max-width: 320px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
    
.first-page{
    width: 320px;
    height: 823px;
    margin: 0 auto;
}
    
.main1{
    
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-size: cover;
}

.header{
    margin: 0;
    width: 257px;
    height: 60px;
    
}
.logo{
    transform: translate(-20px, 1px);
}

.navbar{
    display: none;
}
.burger-menu{
    display: block;
    transform: translate(-471px,20px);
}

.content{
    width: 300px;
    height: 296px;
    transform: translateX(-100px);
}


.content h2{
    width: 198px;
    height: 64px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transform: translate(-107px,31px);
}
.content p{
    width: 300px;
    height: 96px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(-159px,30px);
}
.btn{
    transform: translate(-113px,30px);
}
.first-main img{
    width: 260px;
    height: 271.77px;
    transform: translate(-260px,-312px);
}


.main2{

    background-size: cover;
}
.second-page{
    width: 320px;
    height: 974px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    transform: translateY(18px);
}

.about-shelter{
    width: 300px;
    height: 494px;
}
.about-shelter h3{
    width: 278px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transform: translate(12px,-4px);
}

.about-shelter p{
    width: 270px;
    height: 144px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    text-align: justify;
}
.class1{
    transform: translate(15px,-50px);
}
.class2{
    transform: translate(15px,-86px);
}
.second-page img{
    width: 260px;
    height: 353.6px;
    transform: translateY(-60px);
}

.our-Friends-block{
    background-size: cover;
}



.third-page{
    width: 320px;
    height: 791px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #F6F6F6;
}

.our-friends-heading h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    justify-content: center;
    transform: translate(1px,-33px);
}
.card-wrap{
    justify-content: flex-start;
    transform: translate(0);
}
.card{
    display: none;
    
}
#katrine{
    display: block;
    
}
.slider{
    height: 435px;
    transform: translate(-26px,-60px);
}
.leftArrow {
    transform: translate(-66px,-35px) !important;
}
.rightArrow {
    transform: translate(66px, -85px) !important;
}

.btn2{
    transform: translate(-1px,-42px) !important;
}

.main4{
    background-color: #FFFFFF;
    background-size: cover
}

.fourth-page{
    width: 320px;
    height: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.helps h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-align: center;
    transform: translateY(-36px);
}
.first-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0;
    place-content: center;
    width: 290px;
}

.vector{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vector img{
    width: 50px;
    height: 50px;
}

.vector h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.scnd-row{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scnd-row img{
    width: 50px;
    height: 50px;
}

.scnd-row h4{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.main5{
    background-size: cover;
    background-color: #F6F6F6;
}

.fiveth-page{
    width: 320px;
    height: 542.2px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.donation h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    width: 208px;
    height: 64px;
    transform: translate(54px,81px);
}
.donation h5{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    width: 308px;
    height: 24px;
    letter-spacing: 0;
    transform: translate(21px,81px);
}
.donation a{
    width: 308px;
    height: 43px;
}
.donation img{
    width: 281px;
    height: 43px;
    transform: translate(25px,79px);
}
.donation{
    width: 300px;
    height: 281px;
    margin: 0;
}
.donation h6{
    width: 280px;
    height: 90px;
    transform: translate(18px,81px);
}
#doggo{
    width: 260px;
    height: 135.2px;
    transform:translate(8px, -42px);
}


footer{
    background-size: cover;
    background-image: url(../../assets/images/footer-gradient-background.jpg);
}

.sixth-page{
    width: 320px;
    height: 809px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.questions h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}
#question1{
    transform: translate(12px,-2px);
}
#question2{
    transform: translate(-34px,-14px);
}
#question1 h3{
    transform: translate(-13px,18px);
}
#email{
    transform: translate(3px,-8px);
}
#phone{
    transform: translate(7px,-7px);
}
#question2 h3{
    transform: translate(33px,21px);
}
#location1{
    transform: translate(23px,-9px);
}
#location2{
    transform: translate(24px,9px);
}
#footer-puppy{
    width: 260px;
    height: 269px;
    transform: translate(-1px,12px);
}



}